@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

/* Resume */
.navBar {
  position: fixed !important;
  background-color: #fafafa6f !important;
  backdrop-filter: blur(8px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.606);
  border-bottom: solid 1px #e9e9e9;
  z-index: 99;
}

.logo {
  color: #78c1e6;
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding: 10px 10px;
  transition: 0.2s;

}

.logo:hover {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  transition: 0.2s;
}

.navMenuLink {
  color: rgb(78, 78, 78);
  text-decoration: none;
}

.ContentBox {
  background-color: rgb(252, 252, 252);
  margin-top: 3em;
  border-top: 5px solid #78c1e6;
  height: fit-content;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.116);
  border-radius: 5px;
  padding-top: 1.5em;
}

.profilePicWrap {
  text-align: center;
}

.headOfBox {
  position: absolute;
  background-color: white;
  border: solid 3px #78c1e6;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
  font-size: 26px;
  transform: translateY(-55px);
}

.resumePic, .projectPic {
  margin: 0 1em;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  margin: 10px 0;
  display: flex;
  align-self: center;
}

.projectInfo {
  padding-bottom: 2em;
  margin: 1em 0;
  /* border-bottom: solid #e2e2e2; */
} 

.tagAlign {
  display: flex;
}

.tag {
  background-color: #f3fbff;
  width: fit-content;
  padding: 5px;
  border: solid #78c1e6;
  margin: 0 5px 10px 0;
  border-radius: 3px;
}

.projectPic {
 border: solid #d8d8d8;
}


/* ---------------------- */


.profilePic {
  overflow: hidden;
  height: 270px;
}

.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  display: flex;
  margin: 10px 0;
}

.contact div {
  margin-left: 5px;
}

.spaceContainer {
  margin: 15px 0;
}

.material {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.material_size {
  margin-left: 2em;
}

.workshopPic {
  margin-top: 2em;
}

.workshopTopic {
  text-align: center;
  border-bottom: 5px solid #31a0cf;
  margin-bottom: 1em;
}

.workshopPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* เครื่องคิดเลข */
.calculator {
  width: 325px;
  margin: 2em auto;
  padding: 20px;
  /* border: solid 10  px; */
  /* border-image: linear-gradient(#3ca5f6, #c9e5ff) 30;  */
  border-radius: 10px;
  box-shadow: 0px 0 10px #a7a7a7;
}

.calculatorInput {
  height: 50px;
  border: solid 1px #d8d8d8;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 10px;
}

.calculatorInput input {
  font-size: 20px;
  pointer-events: none;
}

.rowPad {
  display: flex;
}

.rowPad button {
  height: 60px;
  border: none;
  margin: 3px;
  border-radius: 5px;
  color: #3ca5f6;
  font-size: 20px;
}

.numberRow {
  width: 215px;
}

.operatorsRow {
  width: 65px;
  text-align: right;
}


.topRow Button{
  background-color: #ecf5ff !important;
}

.operatorsRow Button {
  background-color: #d2e8ff !important;
}

